body {
    padding: 0;
    margin: 0;
    font-size: 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body > main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

header, footer {
    padding: 25px;
    background-color: #ff005e;
}

main {
    padding: 50px;
    background-color: #2e2e2e;
    color: #fff;
    font-size: 1.8rem;
}