﻿<div style="padding: 15px; margin: 5px; border: 1px solid #ccc; background-color: #f1f1f1;">
    <h1>Hostname: @ServerName</h1>
</div>

@code {
    public static string ServerName => Environment.GetEnvironmentVariable("HOSTNAME");
}